<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Cap4Lab - Demo</title>
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
</head>
<body>
    <header class="bg-white black-80 tc pv4 avenir">
        <img class="mt2 mb0" src="cap4lab-rgb.png__1368x700_q85_crop_subsampling-2.png" alt="Cap4Lab"/>
        <h2 class="mt2 mb0 f6 fw4 ttu tracked">Probably the best MuleSoft experts in Europe</h2>
        <nav class="bt bb tc mw7 center mt4">
            <a class="f6 f5-l link bg-animate black-80 dib pa3 ph4-l" href="/">Home</a>
            <a class="f6 f5-l link bg-animate black-80 dib pa3 ph4-l" href="/accounts">Accounts</a>
            <a class="f6 f5-l link bg-animate black-80 dib pa3 ph4-l" href="/leads">Leads</a>
        </nav>
    </header>

    {{{body}}}

</body>
</html>